.timeline-ruler {
    position: relative;
    height: 100%;
    background-color: var(--color-bg-tertiary);
}

.ruler-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--color-border-default);
}

.ruler-marker-major {
    background-color: var(--color-border-strong);
}

.ruler-label {
    position: absolute;
    top: 2px;
    left: 4px;
    font-size: var(--text-xs);
    color: var(--color-text-tertiary);
    font-variant-numeric: tabular-nums;
}